.container-fluid
{
    background-image: url("../photo/4.png");
    height: 100%;
}
.btn
{
    border-radius: 40%;
    background-color:rgba(2,2,2,0.1);
    margin: 25px;
}
.dropdown-menu
{
    background-color:rgba(7,5,2,0.9);
    color:firebrick;
}
.data
{
    margin-left: 200px;
    font-size: 65px;
    font-family:'Frijole', cursive;
    
}

.data p
{
    font-size: 30px;
    font-family: cursive;
    color:firebrick
}
.btn-danger
{
    background-color: rgba(7,5,2,0.8);
    color: darkgray;
    border: 0px solid rgba(7,5,2,0.8);
    font-family: 'Frijole', cursive;
}
.count
{
    position:relative;
    bottom:-300px;
    color:darkgrey
}
